/*------------------colours*/

body {
    background-color: 	#FFFAF0;
    
     
}



/*------------------heading*/

header{
    position:absolute;
    width: 100%;
    top: 0;
}

#home{
    color:black;
    font-size: 76px;
    
}

#subTitle{
    font-weight: 400;
    color: black;
}

.titleImage{
    z-index: -1;
    position: absolute
}

h1 {
    width: 100%;
    font-family: century gothic, sans-serif;
    font-weight: 100;
    font-size: 56px;
    text-align: center;
    letter-spacing: 3px;
}

h4 {
    font-family: century gothic, sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    color: black;
}

.logo {
    border-radius: 50%;
    display: inherit;
    margin-left: auto;
    margin-right: auto;
}


.titleImage{
    opacity: 0.7;
    z-index: -1;
    width:100%;
    margin-top: 0;
}



/* ------------------------------------Alert bar*/

.alert {
    padding: 3px 20px;
    text-align: left;
    background-color: #f9d973;
    border-color: #f9d973;
    margin-bottom: 0px;
    
}

btn-group-sm>.btn,
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin-left: 10px;
}

.alert-container {
    padding: 0;
}


/*-----------------------------------burger nav*/

.nav-link {
    text-align: right;
    font-weight: 800;
   
}


.navbar-dark .navbar-nav .nav-link {
    color: black;
    opacity: 0.7;
   
    
}


.navbar-toggler-icon {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;


}

.navbar-dark .navbar-toggler-icon {
    background-image: url(http://assets.stickpng.com/thumbs/588a64e7d06f6719692a2d11.png);
}

.dropdown-item {
    text-align: right;
    color: #747779;
    font-weight: 700;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.navalert-container {
    padding: 0;
}



.dropdown-item:focus,
.dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: #e9e7f1;
}


nav.navbar-dark.navbar-expand-xl.navigation{
     text-align: right;
}




/*---------------------------------------footer*/

h5 {
    margin: 0;
    border-bottom-style: dashed;
    border-bottom-color: white;
}

.uppercase {
    text-transform: uppercase
}

.general-sub {
    font-family: "nanum-Gothic", sans-serif;
    color: white;
}

footer {
    margin-top: 40px;
    background-color: #e99065;
    min-height: 100px;
    padding-top: 20px;

}

.footer-text {
    color: white;
}





.footer-nav a {
    text-decoration: none;
    color: white;

}

.footer-nav:hover {

    color: black;
}

.footer-nav a:hover {
    color: black;
}


.introVideo {
    width: 100%;
    margin-top: 40px;
}

.classes-page {
    color: #f9cf92;

}

.classes-page:hover {
    color: #a57474;
    text-decoration: none;
}

.bottom-nav{
    color: white;
}



/*-------------------------index.html*/

.homePagePara {
    text-align: center;
    font-family: century gothic, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    width: 98%;
    margin-left: 1%;
    margin-top: 30px;
}

.introPara{
        margin-top: 300px;
        text-align: center;
    }
    
.contact-form {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
    width: 98%;
}

#map{
    height:400px;
    width:100%;
    border-radius: 50px;
    border-color: blue;
    border-width: 10px;
    
}

.loactionName{
    text-align: center;
}

.jqImage{
    width:100%;
    position: relative;
    border-radius: 10px;
}

.ccImage{
    width:100%;
    border-radius: 10px;
}

.digbethImage{
    width:100%;
    border-radius: 10px;
}

.card{
    border-width: 0;
    
}

.bottom_button{
	display: flex;
	box-sizing:border-box;
	border-radius: 20px;
	display: block;
	width: 60%;
	background-color:#da4a0999;
	text-align: center;
	padding: 1em .75em;
	text-decoration: none;
	color: #fff;
	margin-left: 20%;
	margin-right: 20%;
	
}

.card_bottom{
	display: flex;
	flex-flow:column;
}
.card_head{
	flex:0;
}
.card_para{
	flex:1 0 auto;
	display: none;
}



.card{
	flex:1; /* */
	display: flex;	/* make the contents controllable by flexbox*/
	flex-flow:column;	/* */
	min-width: 220px; /**/
	margin: 5px;
	padding: 10px;
	background-color: #fff0;}

.highlight{
    background-color: #da4a09c9;
}

button:focus {
    outline: 1px dotted;
    /* outline: 5px auto -webkit-focus-ring-color; */
}
.container {
  position: relative;
  text-align: center;
  color: white;
    
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary{
    min-width: 100px;
}


.stream4{
    border-style: solid;
    border-color: black;
    border-bottom-width: 0;
    background-color:#da4a091f;
    
}

.jewelleryQuarter{
    text-align: left;
}



.stream5{
    border-style: solid;
    border-color: black;
    border-bottom-width: 0;
    background-color: #da4a0959;
}

.cityCentre{
    text-align: center;
}

.stream6{
    border-style: solid;
    border-color: black;
    background-color: #da4a0999;
}

.dig{
    text-align: right;
}


.food{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card_links{
    color:black;
    font-weight: 600;
}

.websiteLinks{
    color: rgba(12, 12, 12, 0.53);
    font-size: 0.8em;
}

.websiteLinks:hover{
    color: black;
    font-size: 0.8em;
    
}

/*-------------------------------@media*/

@media (min-width:576px) {

    .homePagePara {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        font-weight: 100;
        width: 90%;
    }
    .introVideo {
        width: 90%;
        margin-left: 5%
    }

    
    .introPara{
        margin-top: 67%;
    }
    
}





@media (max-width:576px) {

   
    .titleImage{
        height:250px;
        width:100%;
        
        
    }
    #home{
        font-weight: 100;
    }
    
    .digbeth{
    text-align: left;
}
    

    

}


@media (min-width:768px) {

    .homePagePara {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        width: 90%;
        text-align: left;


    }

    .introVideo {
        width: 60%;
        margin-left: 20%
    }

    .contact-form {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 20px;
        width: 70%;

    }
    #home{
        margin-top: 125px;
    }
    .introPara{
        margin-top: 70%;
    }
    #map{
    height:500px;
    width:70%;
    margin-left: 15%;
    
}
.nav-link {
    
    font-size: 1.2em; 
}
.jqImage{
    max-height: 200px;
}

.ccImage{
    max-height: 200px;
}

.digbethImage{
    max-height: 200px;
}

#par2{
    text-align: center;
}
#par3{
    text-align: right;
}

.info{
    margin-left: 1.5%;
    width:97%;
}



}



@media (min-width:992px) {
    
    #home{
        margin-top: 175px;
    }
    .jqImage{
    max-height: 600px;
}

.ccImage{
    max-height: 600px;
}

.digbethImage{
    max-height: 450px;
}
}

